<?xml version="1.0" encoding="utf-8"?>

<Package
        xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
        xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
        xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
        IgnorableNamespaces="uap mp">

    <Identity
            Name="15497848-7eb4-46f7-9920-e695ba086f0c"
            Publisher="CN=Petr Šopf"
            Version="1.0.11.0"/>

    <mp:PhoneIdentity PhoneProductId="15497848-7eb4-46f7-9920-e695ba086f0c"
                      PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>ChattyMoUWPGUI</DisplayName>
        <PublisherDisplayName>Trsak</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0"/>
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
                     Executable="$targetnametoken$.exe"
                     EntryPoint="ChattyMoUWPGUI.App">
            <uap:VisualElements
                    DisplayName="ChattyMoUWPGUI"
                    Square150x150Logo="Assets\Square150x150Logo.png"
                    Square44x44Logo="Assets\Square44x44Logo.png"
                    Description="ChattyMoUWPGUI"
                    BackgroundColor="transparent">
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="ChattyMo"/>
                <uap:SplashScreen Image="Assets\SplashScreen.png"/>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient"/>
        <Capability Name="privateNetworkClientServer"/>
    </Capabilities>
</Package>